.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.leftContainer {
  flex: 2;
}

.rightContainer {
  flex: 1;
  padding-left: 20px;
}

.heading {
  text-align: left;
  flex: 0 0 100%;
  font-size: 24px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
}

.overlayTotal {
  display: none;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .overlay {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 10px;
  }

  .overlayTotal {
    display: block;
  }
}
