.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  object-fit: cover;
}

.boxLinkContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  flex: 1;
}
