.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: 0;
}

.itemContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  .itemContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .itemContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .itemContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
