.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 20px;
}

.logo {
  height: 40px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  border-bottom-style: solid;
  border-width: 1px;
}
